$dark-gray: #414245;
$gray: #B8B9B9;
$black: #000;
$white: #fff;
$overlay: rgba(19, 20, 23, 0.9);
$blue: #2d9cdb;
$dark-blue:  #2573A0;
$gray-arrow: #1B2B36;
$gray-text: #88898A;
$dark-outline: #236992;
$light-outline: #A8A9A9;
